* {
    margin: 0;
    padding: 0;
}

:root {
    --boxColor: rgba(255, 255, 255, 0.76);
}

button {
    margin: 1vh;
    width: 200px;
    height: 40px;
    border: white solid 2px;
    border-radius: 5px;
    background-color: rgb(180, 138, 48);
    color: white;
}

#content {
    background: url('./coffeeBean.png');
    background-color: rgb(223, 208, 124);
    height: 100vh;
}

h1 {
    color: white;
    text-shadow: 1px 1px black;
}

.header {
    display: flex;
    justify-content: center;
    gap: 10px;
}

img {
    height: 120px;
}

.info, .contact {
    width: 50vw;
    margin-left: 25vw;
    background-color: var(--boxColor);
    border: solid 1px rgb(182, 71, 71);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 50vw;
    margin-left: 25vw;
    border: solid 1px rgb(182, 71, 71);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.menuItem {
    background-color: var(--boxColor);
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}